build/
.gradle/
gradle-groovy-safe/.gradle/**/**
gradle-groovy/.gradle/**/**
gradle-core/.gradle/
gradle-core-safe/.gradle/
**/build/
**/target/
**/.idea/
.idea/
*.iml
**/*.iml
out/*
.gradletasknamecache
